//Fancybox
.fancybox-container{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 99993;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &~.fancybox-container{
    	z-index: 99992;
    }
    &.fancybox-container--thumbs{
    	.fancybox-caption-wrap, .fancybox-controls, .fancybox-slider-wrap{
    		right: 0;
    		@media screen and (min-width: $screen-md) {
  				right: initial;
  				right: 264px;
			}
    	}
    	.fancybox-slider-wrap{
    		margin-top: 42px;
    		@media screen and (min-width: $screen-md) {
	    		width: calc(100% - 520px);
	    	}
    	}
    	.fancybox-caption-wrap{
			@media screen and (min-width: $screen-md) {
	    		// width: 364px;
	    		// margin-right: 44px;
	    	}
    	}
    	.fancybox-caption-wrap, .fancybox-controls{
			@media screen and (min-width: $screen-md) {
	    		right:220px;
	    	}
    	}
    }
    &.fancybox-show-controls{
    	.fancybox-controls {
		    opacity: 1;
		    //changer
		    background: $white;
		   	height: $header-height;
  			@media screen and (min-width: $screen-md) {
  				//changer 
				background: white;
				height: auto;
				width: 100%;
				height: $header-height;
				background: $white;
			}
		}
		.fancybox-back{
			height: 40px;
			background: $dgrey;
			display: block;
			a{
				display: none;
			}
			.fancybox-button{
				display: block;
				width: 106px;
				height: 40px;
				background: url($url_sprite) no-repeat;  	
				background-size: 500px 700px;
			    background-position: -0px -100px;
				border: none;
				cursor: pointer;
				transform:scale(.8);
			}
		}
    }
    &.fancybox-show-infobar{
    	.fancybox-infobar {
		    display: inline-block;
		    pointer-events: all;
		    background: #323233;
		}
    }
    &.fancybox-show-buttons{
    	.fancybox-buttons {
		    display: block;
		}
	}
    &.fancybox-container--ready{
    	.fancybox-bg{
    		background: white;
    		opacity: .87;
    		transition-timing-function: cubic-bezier(.22, .61, .36, 1);
    		@media screen and (min-width: $screen-md) {
				background: white;
	      		opacity: 1;
			}
    	}
    }
	.fancybox-bg{
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: #0f0f11;
	    opacity: 0;
	    transition-timing-function: cubic-bezier(.55, .06, .68, .19);
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    @media screen and (min-width: $screen-md) {
			background: #efefef;
      		opacity: 1;
		}
	}
	.fancybox-controls{
		height: $header-height;
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    text-align: center;
	    opacity: 0;
	    z-index: 99994;
	    transition: opacity .2s;
	    pointer-events: none;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    direction: ltr;
	    z-index: 299999999;
	    @media screen and (min-width: $screen-md) {
			text-align: left;
			opacity: 1;
		    position: absolute;
		    top: 0;
		    left: auto;
		    right: 0;
		    bottom: 0;
		    height: 100%;
		    width: 44px;
		}
		.logo-mobile{
			&.sprite{
				background-position: 0px 0px;
				width: 92.5px;
				height: 32px;
				margin-top: 4px;
			}
			display:block;
			position: relative;
			left: 50%;
			top:0px;
			transform: translateX(-50%);
			display: none;
			@media screen and (min-width: $screen-md) {
				display: none;
			}
		}
		.fancybox-infobar{
			position: absolute;
	        left: 50%;
	        bottom: 0px;
	        transform:translateX(-50%)scale(.8);
	        display: block;
	        height: 50px;
	        background:none;
	        width: 50px;
	        @media screen and (min-width: $screen-md) {
				transform:translateX(-50%)scale(1);
			};
	        .fancybox-infobar__body{
	        	font-family: $font1;
	        	color: $white;
	            position: absolute;
	            left: 50%;
	            top: 50%;
	            font-style: italic;
	            font-size: 1em;
	            transform:translate(-50%, -50%);
	            &.long-number{
	                font-size: .9rem;
	            }
	            span{
	                &.js-fancybox-index{

	                }
	                &.js-fancybox-count{

					}	
	            }
	        }
			.fancybox-infobar__body{
			}
		}
		.fancybox-buttons{
			position: absolute;
		    top: 0;
		    right: 0;
		    pointer-events: all;
		    cursor: pointer;
		    @media screen and (min-width: $screen-md) {
				background: transparent;
				display: inline-block;
				top: 0;
		   		right: 0;
			}
			&:hover{
				@media screen and (min-width: $screen-md) {
					background: transparent;
				}
			}
			.fancybox-button{
				display: inline-block;
			    position: relative;
			    width: 44px;
			    height: 44px;
			    line-height: 44px;
			    margin: 0;
			    padding: 0;
			    border: 0;
			    border-radius: 0;
			    cursor: pointer;
			    background: transparent;
			    color: #fff;
			    box-sizing: border-box;
			    vertical-align: top;
			    outline: none;
			    z-index: 1001001000;
			    &:hover {
				    opacity: .4;
				}
				&.--disabled {
				    cursor: default;
				    pointer-events: none;
				    &:before, &:after{
						opacity: .5;
					}
				}
				&.fancybox-button--close{
					background: url($url_sprite) no-repeat;  	
					background-size: 500px 700px;
				    background-position: -80px -170px;
				    width: 40px;
					height: 40px;
					@media screen and (min-width: $screen-md) {
						display: inline-block;
						float: right;
					}
				}
				&.fancybox-button--fullscreen{
					background: url($url_sprite) no-repeat;          	
					background-size: 500px 700px;
				    background-position: -80px -210px;
				    width: 40px;
					height: 40px;
					display: none !important;
					@media screen and (min-width: $screen-md) {
						display: inline-block !important;
					}
				}
				&.fancybox-button--play{
					background: url($url_sprite) no-repeat;  
					background-size: 500px 700px;
					background-position: -40px -210px;
				    width: 40px;
					height: 40px;
					display: none !important;
					@media screen and (min-width: $screen-md) {
						display: inline-block !important;
					}
				}
				&.fancybox-button--pause{
					background: url($url_sprite) no-repeat;  			
					background-size: 500px 700px;
				    background-position: -80px -170px;
				    width: 40px;
					height: 40px;
					display: none !important;
					@media screen and (min-width: $screen-md) {
						display: inline-block !important;
					}
				}
				&.fancybox-button--thumbs{
					background: url($url_sprite) no-repeat;  		
					background-size: 500px 700px;
				    background-position: -0px -170px;
				    width: 40px;
					height: 40px;
					display: none !important;
					@media screen and (min-width: $screen-md) {
						display: inline-block !important;
					}
					.fancybox-caption-wrap, .fancybox-controls, .fancybox-slider-wrap{
						right: 220px;
						@media screen and (min-width: $screen-mdd) {
							top: 0;
						    right: 44px;
						    bottom: 0;
						    left: auto;
						    width: 320px;
						    padding: 0;
						    box-shadow: none;
						    background: black;
						    font-weight: bold;
						    opacity: 1;
						    visibility: visible;
						      -webkit-transition: none;
						         -moz-transition: none;
						              transition: none;
						}
					}
				}
				.fancybox-infobar__body{
					//Changer
					// background: black; 
					// min-height: 53px;
					// line-height: 53px;
				}
			}
		}
	}
	.fancybox-slider-wrap{
		overflow: hidden;
    	direction: ltr;
    	position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    padding: 0;
	    margin: 0;
	    margin-top: 42px;
	    margin-bottom: 60px;
	    background: $white;
	    z-index: 1000000;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    -webkit-tap-highlight-color: transparent;
	    @media screen and (min-width: $screen-mdd) {
			width: calc(100% - 320px);
		}
		.fancybox-button--left{
			border:none;
			position: relative;
			top: 50%;
			left: 15px;
			transform:translate(-50%, -50%) scale(1);
			background: url($url_sprite) no-repeat;          
    		background-size: 500px 700px;
		    background-position: -180px -190px;
		    width: 15px;
			height: 30px;
			z-index: 1000000;
			opacity: 1;
			cursor: pointer;
			@media screen and (min-width: $screen-md) {
				left: 50px;
				top: 50%;
				transform:translate(-50%, -50%) scale(2);
				&:hover{
					opacity: .6;
				}
			}
		}
		.fancybox-button--right{
			border:none;
			position: absolute;
			top: 50%;
			right: 5px;
			transform:translate(-50%, -50%) scale(1);
		    background: url($url_sprite) no-repeat;			
			background-size: 500px 700px;
		    background-position: -160px -190px;
		    width: 15px;
			height: 30px;
			z-index: 1000001;
			opacity: 1;
			cursor: pointer;
			@media screen and (min-width: $screen-md) {
				right: 50px;
				top: 50%;
				transform:translate(-50%, -50%) scale(2);
				&:hover{
					opacity: .6;
				}
			}
		}
		.fancybox-buttons{
			button:not(.fancybox-button--close){
				@media screen and (min-width: $screen-md) {
					display: none;
				}
			}
		}
		.fancybox-slider{
			position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    padding: 0;
		    margin: 0;
		    z-index: 99993;
		    background: $white;
		    -webkit-backface-visibility: hidden;
		    backface-visibility: hidden;
		    -webkit-tap-highlight-color: transparent;
		    @media screen and (min-width: $screen-md) {
				// margin-top: 42px;
			}
		    .fancybox-slide{
		    	position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    margin: 0;
			    padding: 0;
			    overflow: auto;
			    outline: none;
			    white-space: normal;
			    box-sizing: border-box;
			    text-align: center;
			    z-index: 99994;
			    width: 100%;
			    background: $white;
			    -webkit-overflow-scrolling: touch;
			    .fancybox-placeholder{
			    	position: absolute;
				    top: 0;
				    left: 0;
				    margin: 0;
				    padding: 0;
				    border: 0;
			    	.fancybox-image{
			    		width: 100%;
					    height: 100%;
					    max-width: none;
					    max-height: none;
					    background: transparent;
					    background-size: 100% 100%;
			    		position: absolute;
					    top: 0;
					    left: 0;
					    margin: 0;
					    padding: 0;
					    border: 0;
			    		z-index: 99995;
					    background: transparent;
					    cursor: default;
					    overflow: visible;
					    -webkit-transform-origin: top left;
					    transform-origin: top left;
					    background-size: 100% 100%;
					    background-repeat: no-repeat;
					    -webkit-backface-visibility: hidden;
					    backface-visibility: hidden
			    	}
			    }
		    	&>*{
		    		position: relative;
				    padding: 24px;
				    margin: 44px 0;
				    border-width: 0;
				    text-align: left;
				    background-color: #fff;
				    overflow: auto;
				    box-sizing: border-box;
				    display: inline-block;
    				vertical-align: middle;
		    	}
		    	&:before{
    				display: inline-block;
    				vertical-align: middle;
    				content: "";
				    height: 100%;
				    width: 0;
			    }
		    }
		    .fancybox-slide--image {
			    overflow: hidden;
			    &:before{
    				display: none;
			    }
			}
		}
	}
	.fancybox-caption-wrap{
		pointer-events: auto;
		position: absolute;
	    bottom: 60px;
	    left: 0;
	    right: 0;
	    padding: 5px;
	    z-index: 99998;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    box-sizing: border-box;
	    background: $black;
	    //background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .6) 80%, rgba(0, 0, 0, .8));
	    opacity: 1;
	    transition: opacity .2s;
	    // pointer-events: none;
	    display: none;
	    @media screen and (min-width: $screen-mdd) {
	    	display: block;
			top: 40px;
			right: 0px;
			bottom: 0;
			left: auto;
			width: 320px;
			padding: 0;
			box-shadow: none;
			background: white;
			font-weight: bold;
			opacity: 1;
			visibility: visible;
			-webkit-transition: none;
			-moz-transition: none;
			transition: none;
		}
		strong, b{
			font-weight: 500;
		}
		.caption-top{
			overflow-y: auto;
			display: block;
			width: 100%;
			position: relative;
			@media screen and (min-width: $screen-md) {
    			width: 100%;
			}
			.logo-desktop{
				margin: 15px 15px 0px 15px;
   				display:none;
			}
			#social-share{
				padding: 10px;
				margin-top: 0;
				margin-bottom: 20px;
			}
			.fancybox-caption{
				padding: 30px 0;
			    border-top: 1px solid hsla(0, 0%, 100%, .4);
			    font-size: 1rem;
			    color: #000;
			    line-height: 20px;
			    -webkit-text-size-adjust: none;
				border: none;
				font-weight: 400;
				font-family: $font1;
				@media screen and (min-width: $screen-md) {
					padding: 10px 10px;
					font-size: .9rem;
       				margin: 0;
       				text-align: center;
       				text-align: left;
       				margin-bottom: 10px;
				}
				button{
					pointer-events: all;
				}
				p{
					display: block;
					margin-bottom: 5px;
				}
				a{
					pointer-events: all;
					color: $black;
					font-weight: 300;
    				font-size: 1rem;
				}
				strong, b{
					font-weight: 600;
				}
				.swiper-shop{
					border: 1px solid $black;
					display: inline-block;
					position: absolute;
					@media screen and (min-width: $screen-md){
						margin-bottom: 0;
						position: relative;
                        &:hover{
                            border: 1px solid $white;
                            a{
                            	color: $white;
                            }
                        }
                    }
					a{
						text-decoration: none !important;
					}
				}
			}
		}
	}
	.fancybox-show-caption{
		.fancybox-caption-wrap{
			opacity: 1
		}
	}
	.caption-bottom{
		margin-top: 0px;
		.over-halfpage{
			.affiche{
				#article-shop-1{
					#AD_IMU{

					}
				}
			}
		}
	}
	.fancybox-thumbs{
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: auto;
	    width: 220px;
	    margin: 0;
	    padding: 5px 5px 0 0;
	    background: #fff;
	    z-index: 99993;
	    word-break: normal;
	    -webkit-overflow-scrolling: touch;
	    -webkit-tap-highlight-color: transparent;
	    box-sizing: border-box;
	    display: none;
	    @media screen and (min-width: $screen-md) {
			display: block;
		}
		&>ul{
			list-style: none;
		    position: absolute;
		    position: relative;
		    width: 100%;
		    height: 100%;
		    margin: 0;
		    padding: 0;
		    overflow-x: hidden;
		    overflow-y: auto;
		    font-size: 0;
			&>li{
				float: left;
			    overflow: hidden;
			    max-width: 50%;
			    padding: 0;
			    margin: 0;
			    width: 105px;
			    height: 75px;
			    position: relative;
			    cursor: pointer;
			    outline: none;
			    border: 5px solid #fff;
			    border-top-width: 0;
			    border-right-width: 0;
			    -webkit-tap-highlight-color: transparent;
			    -webkit-backface-visibility: hidden;
			    backface-visibility: hidden;
			    box-sizing: border-box;
			    &.fancybox-thumbs-loading{
 					background: rgba(0, 0, 0, .1);
				}
				&.fancybox-thumbs-active{
					&:before{
						opacity: 1
					}
				}
				&:before{
					content: "";
				    position: absolute;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    border-radius: 2px;
				    border: 4px solid #4ea7f9;
				    z-index: 99991;
				    opacity: 0;
				    transition: all .2s cubic-bezier(.25, .46, .45, .94);
				}
				&>img{
					position: absolute;
				    top: 0;
				    left: 0;
				    min-width: 100%;
				    min-height: 100%;
				    max-width: none;
				    max-height: none;
				    -webkit-touch-callout: none;
				    -webkit-user-select: none;
				    -moz-user-select: none;
				    -ms-user-select: none;
				    user-select: none;
				}
			}
		}
	}
	.fancybox-bottom-lb{
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: auto;
		z-index: 12202002;
		background: $white;
		.caption-bottom{
			padding: 10px;
			@media screen and (min-width: $screen-mdd) {
				display: none;
			}
			.fancybox-caption{
				font-size: .9rem;
				p{
					display: block;
					margin-bottom: 5px;
				}
				a{
					pointer-events: all;
					color: $black;
					font-weight: 300;
    				font-size: 1rem;
				}
				strong, b{
					font-weight: 600;
				}
				.swiper-shop{
					a{
						text-decoration: none;
						font-size: .9rem;
					}
				}
			}
		}
		.caption-bottom-lb{
			min-height: 60px;
			display: block;
			width: 100%;
			text-align: center;
			@media screen and (min-width: $screen-lg) {
				min-height: 90px;
			}
		}
	}
}
.fancybox-loading {
    border: 6px solid hsla(0, 0%, 39%, .4);
    border-top: 6px solid hsla(0, 0%, 100%, .6);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    -webkit-animation: a .8s infinite linear;
    animation: a .8s infinite linear;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 99999
}
.fancybox-enabled {
    overflow: hidden;
    body {
    	overflow: visible;
	    height: 100%
	}
}
// @-webkit-keyframes a {
//     0% {
//         -webkit-transform: rotate(0deg);
//         transform: rotate(0deg)
//     }
//     to {
//         -webkit-transform: rotate(359deg);
//         transform: rotate(359deg)
//     }
// }

// @keyframes a {
//     0% {
//         -webkit-transform: rotate(0deg);
//         transform: rotate(0deg)
//     }
//     to {
//         -webkit-transform: rotate(359deg);
//         transform: rotate(359deg)
//     }
// }

#mygallery{
	.jg-entry{
		z-index: 3;
  		cursor: pointer;
  		&:hover{
  			opacity: 1; 
  			&:before{
  				opacity: .8;
  			}
  			.caption{
  				 display: none;
  			}
  		}
  		&:before{
			content: "";
		    position: absolute;
		    display: block;
		    width: 40px;
		    height: 40px;
		    background: url($url_sprite) no-repeat;  		
			background-size: 500px 700px;
		    background-position: 0px 0px;
		    left: 50%;
		    top: 50%;
		    width: 92.5px;
			height: 32px;
		    -webkit-transform: translate(-50%, -50%);
		        -ms-transform: translate(-50%, -50%);
		            transform: translate(-50%, -50%);
		    opacity: 0;
		    z-index: 5;
		}
	}
}
// .masonry{
// 	img{
// 		&:hover{
// 			opacity: 1;
// 		}
// 	}
// 	div{
// 		margin-bottom: 0;
// 	}
// 	.grid-item{
// 		z-index: 3;
// 		position: relative;
// 		cursor: pointer;
// 		.grid-number{
// 			position: absolute;
// 		    top: 0;
// 		    background: white;
// 		    color: black;
// 		    padding: 5px;
// 		    font-size: 1.4rem;
// 		    z-index: 2;
// 		}
// 		a{
// 			&:hover{
// 				 opacity: 1;
// 				 &:before{
// 				 	 opacity: .8;
// 				 }
// 			}
// 			&:before{
// 				content: "";
// 			    position: absolute;
// 			    display: block;
// 			    width: 40px;
// 			    height: 40px;
// 			    //background: transparent url("http://en.f1i.com/wp-content/themes/f1i-en-2017/site/assets/img/f1i-logo.svg") no-repeat;
// 			    background-size: 500px 500px;
// 			    background-position: -400px -140px;
// 			    left: 50%;
// 			    top: 50%;
// 			    -webkit-transform: translate(-50%, -50%);
// 			        -ms-transform: translate(-50%, -50%);
// 			            transform: translate(-50%, -50%);
// 			    opacity: 0;
// 			    z-index: 5;
// 			}
// 		}
// 	}
// 	.grid-sizer-, .masonry .grid-item-{
// 		width: -webkit-calc(100%);
//   		width: calc(100%);
//   		@media screen and (min-width: $screen-md){
//   			width: -webkit-calc(50%);
//      		width: calc(50%);
//   		}
// 	}
// 	.grid-sizer-1, .grid-item-1{
// 		width: -webkit-calc(100%);
//   		width: calc(100%);
//   		@media screen and (min-width: $screen-md){
//   			width: -webkit-calc(100%);
//       		width: calc(100%);
//   		}
// 	}
// 	.grid-sizer-2, .grid-item-2{
// 		width: -webkit-calc(100%);
//   		width: calc(100%);
//   		@media screen and (min-width: $screen-md){
//   			width: -webkit-calc(25%);
//      		width: calc(25%);
//   		}
// 	}
// 	.grid-sizer-3, .grid-item-3{
// 		width: -webkit-calc(100%);
//   		width: calc(100%);
//   		@media screen and (min-width: $screen-md){
//   			width: -webkit-calc(33.33333%);
//       		width: calc(33.33333%);
//   		}
// 	}
// 	.grid-sizer-4, .grid-item-4{
// 		width: -webkit-calc(100%);
//   		width: calc(100%);
//   		@media screen and (min-width: $screen-md){
//   			width: -webkit-calc(25%);
//       		width: calc(25%);
//   		}
// 	}
// 	.grid-sizer-5, .grid-item-5{
// 		width: -webkit-calc(100%);
//   		width: calc(100%);
//   		@media screen and (min-width: $screen-md){
//   			width: -webkit-calc(20%);
//       		width: calc(20%);
//   		}
// 	}
// }
// .masonry-legende{
// 	font-weight: 300;
// 	font-size: 1rem;
// 	line-height: 1.2rem;
// 	b, strong{
// 		font-weight: 500;
//     	margin-right: 5px;
// 	}
// }
// .gallery-first-image{
// 	position: relative;
// 	a{
// 		position: relative;
// 	    display: block;
// 	    width: 100%;
// 	    height: 100%;
// 	    text-align: center; 
// 	    .number-pics{
// 	    	display: none;
// 		    position: absolute;
// 		    top: 50%;
// 		    left: 50%;
// 		    display: block;
// 		    color: white;
// 		    background: black;
// 		    -webkit-transform: translate(-50%, -50%);
// 		        -ms-transform: translate(-50%, -50%);
// 		            transform: translate(-50%, -50%);
// 		    font-size: 1.4rem;
// 		    line-height: 1.6rem;
// 		    padding: 10px;
// 		    text-align: center;
// 		    .site-fr{
// 				 &:before{
// 			    	content: 'Voir les photos';
// 	        		display: block;
// 			    }
// 		    }
// 		    .site-nl{
// 				 &:before{
// 			    	 content: 'Bekijk de fotogalerij';
// 	        		display: block;
// 			    }
// 		    }
// 		    &:after{
// 		    	content: '';
// 		        display: block;
// 		        width: 30px;
// 		        height: 30px;
// 		        background-size: 500px 500px;
// 		        background-position: -315px -75px;
// 		        position: absolute;
// 		        bottom: 0;
// 		        right: 0;
// 		    }
// 	    }
// 	}
// }
.swiper-gallery{
	margin-bottom: 0 !important;
	.swiper-container-gallery{
		position: relative;
		margin-bottom: 0 !important;
		.swiper-wrapper{
			margin-bottom: 0 !important;
			.swiper-slide{
				margin-bottom: 0 !important;
				.row{
					.grid-item{
						cursor: pointer;
						position: relative;
						&:after{
							content: "";
							background: url($url_sprite) no-repeat;  	
							background-size: 500px 700px;
							background-position: -95px 0px;
							display: block;
							width: 40px;
							height: 40px;
							position: absolute;
							left: 50%;
							top: 50%;
							transform:translate(-50%, -50%);
							transition: opacity 0.2s ease-out;
							opacity: 0;
						}
						.grid-item-wrapper{
							margin-bottom: 0;
						}
						picture{
							opacity: 1;
							transition: opacity 0.2s ease-out;
						}
						@media screen and (min-width: $screen-md){
							&:hover{
								&:after{
									opacity: 1;
								}
								picture{
									opacity: .6;
								}
							}
						}
					}
				}
				.swiper-caption_wrapper{
					margin:0 !important;
					.swiper-caption{
						margin:0 !important;
						margin:5px 0;
						font-size: .9rem;
						line-height: 1.2rem;
						@media screen and (min-width: $screen-md){
							font-size: .7rem;
							line-height: 1.2rem;
						}
					}
					.swiper-shop{
						transform:none;
						left: initial;
						cursor: pointer;
						padding: 0;
						margin: 10px !important;
						padding: 3px 14px 1px;
						line-height: .9rem;
						font-size: .8rem;
						@media screen and (min-width: $screen-md){
							font-size: .9rem;
							&:hover{
								a{
									color: $white;
								}
							}
						}
						a{
							padding: 7px 14px;
							font-family: $font2;
							font-weight: 500;
							text-decoration: none;
							display: block;
							width: 100%;
							height: 100%;
							@media screen and (min-width: $screen-md){
								&:hover{
									color: $white;
								}
							}
						}
					}
				}
			}
		}
		.swiper-button-prev{
			border:none;
			position: absolute;
			top: 50%;
			left: 15px;
			transform:translate(-50%, -50%) rotate(180DEG) scale(1.5);
			background: url($url_sprite) no-repeat;         
    		background-size: 500px 700px; 
		    background-position: -160px -170px;
		    width: 10px;
			height: 20px;
			z-index: 100;
			margin-bottom: 0;
			transition:none;
			opacity: 1;
			&.swiper-button-disabled{
				opacity: .2;
			}
			@media screen and (min-width: $screen-md) {
				left: 15px;
				transform:translate(-50%, -50%) rotate(180DEG) scale(2);
				&:hover{
					 background-position: -160px -170px;
				}
			}
		}
		.swiper-button-next{
			border:none;
			position: absolute;
			// top: 50%;
			right: 5px;
			// transform:translate(-50%, -50%) scale(1);
		    background: url($url_sprite) no-repeat;			
			background-size: 500px 700px;
		    background-position: -160px -170px;
		    width: 10px;
			height: 20px;
			margin-bottom: 0;
			z-index: 101;
			transition: none;
			transform: scale(1.5);
			opacity: 1;
			&.swiper-button-disabled{
				opacity: .6;
			}
			@media screen and (min-width: $screen-md) {
				right: 0px;
				transform:translate(-50%, -50%) scale(2);
				&:hover{
					background-position: -160px -170px;
				}
			}
		}
	}
}
