$white:#fff;
$black:#000;
$lgrey:#f4f4f4;
$mgrey:#d8d8d8;
$dgrey:#343030;
$red:#eb0621;

$url_sprite: "../img/icons/sogentleman_2018_sprite.svg?v=10042018";

// Fonts

// Sans serif
$font1: 'Open Sans', sans-serif;
// Serif
$font2: 'Playfair Display', serif;


// small device
$screen-sm: 480px; 
// medium device
$screen-md: 640px;
// large device
$screen-mdd: 960px;
// very large device
$screen-lg: 1050px;                                                                               
$header-height: 42px;
$header-height-light: 51px;
$header-height-sm: 64px;
$header-height-md: 124px;