@import "import/import.reset.scss";
@import "import/import.fonts.scss";
@import "import/import.animations.scss";
@import "import/import.variables.scss";
@import "import/import.mixins.scss";

//STYLES
html,body{
    font-family: $font1;
    background: $white;
    position: relative;
    overflow-x:hidden;
    &.active-on{
        overflow: hidden;
        height: 100%;
        // @media screen and (min-width: $screen-md){
        //   height: auto;
        // }
    }
}
.nodesktop{
   @media screen and (min-width: $screen-md){
      display: none !important;
    } 
}
.leaderboard{
	width: 728px;
	height: 90px;
	margin: 20px auto;
	display: none;
	background:$lgrey;
	@media screen and (min-width: $screen-md){
      display: block;
    }
}
a{
    cursor: pointer;
}
body{
    @media screen and (min-width: $screen-sm){
    }
    @media screen and (min-width: $screen-md){
    }
}
*{
	box-sizing:border-box;
	outline: none;
}
::-moz-selection {
  background: $lgrey;
}
::selection {
    background: $lgrey;
}
.ads, .ligatus_block{
    text-align: center;
    margin: 0 auto;
}
#spotx_content_container_61119{
    margin-top: 30px;
}
.testing {
  width: percentage(10/10);
}
.loading{
    font-size: 1rem;
    line-height: 1.6rem;
    display: block;
    margin: 10px auto;
    font-family: $font2;
    @media print{
        display: none !important;
    }
}
.loading_time{
    position: fixed;
    bottom: 60px;
    left:0;
    background: $white;
}
.no_desktop{
    @media screen and (min-width: $screen-md){
        display: none !important;
    }
}
.no_print{
    @media print{
        display: none !important;
    }
}
.only_print{
    display: none;
    @media print{
        display: block;
        margin: 0 auto;
    }
}
.site-inner{
    max-width: 1050px;
    display: block;
    margin: 0 auto;
}
.loading_time_load{
    position: fixed;
    bottom: 30px;
    left:0;
    background: $white;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    @media print{
        display: none !important;
    }
}
.sprite{
    background: url($url_sprite) no-repeat;          
    background-size: 500px 700px;
    transition: none;
}
#backtotop{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 30000;
    cursor: pointer;
    background-position: -222px -7.5px;
    transform:rotate(90deg) scale(1.2);
    @include transition(.2s);
    display: none;
    //border: 1px solid $black;
    &.active-on{
        display: block;
    }
    @media print{
        display: none;
    } 
    @media screen and (min-width: $screen-sm){
        bottom: 70px;
        right: 45px;
    }
    @media screen and (min-width: $screen-md){
        bottom: 50px;
        right: 50px;
        &:hover{
            opacity: .4;
        }
    }
}
.player_youtube_wrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
    position: absolute;
       top: 0;
       left: 0;
       width:100%;
       height:100%;
       transform-origin: top left;
    }
}
.btn-v1{
    border: 1px solid $black;
    padding: 10px 20px;
    font-weight: 600;
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    font-size: 1rem;
    line-height: 1rem;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    margin: 20px auto;
    font-family: $font2;
    vertical-align: middle;
    @include transition(.2s);
    @media screen and (min-width: $screen-md){
        &:hover{
            color: $white;
            background: $black;
        }
    }
}
#header{
    position: relative;
    z-index: 2500;
    height: 40px;
    margin: 0;
    @media screen and (min-width: $screen-md){
        height: auto;
    }
    .top-menu{
        width: 100%;
        height: 30px;
        display: none;
        background:$white;
        @media screen and (min-width: $screen-md){
            display: block;
        }
        .site-inner{
            position: relative;
            .top-left{
                height: 30px;
                top: 0;
                position: relative;
                display: block;
                .lang-switch{
                    border: none;
                    background: none;
                    position: relative;
                    top: 0;
                    margin-left: 40px;
                    &:before{
                        content:'';
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        background: url($url_sprite) no-repeat;          
                        background-size: 500px 700px;
                        background-position: -265px 0px;
                        transition: none;
                        position: absolute;
                        left: -40px;
                        top: -6px;
                    }
                    @media screen and (min-width: $screen-md){
                        &:hover{
                            &:before{
                                background-position: -295px 0px;
                            }
                        }
                    }
                    vertical-align: top;
                    font-family: $font1;
                    line-height: 30px;
                    color: $black;
                    text-decoration: none;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: .7rem;
                    @include transition(.1s);
                    @media screen and (min-width: $screen-md){
                        &:hover{
                            color: $red;
                        }
                    }
                }
            }
            .top-right{
                position: absolute;
                right: 0;
                top: 0;
                vertical-align: top;
                .menu-top-menu-2018-container{
                    display: inline-block;
                    vertical-align: top;
                }
                #menu-top-menu-2018{
                    li{
                        display: inline-block;
                        margin-left: 20px;
                        cursor: pointer;
                        &.not-top{
                            display: none;
                        }
                        &.fb{
                            a{
                                font-size: 0;
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                            vertical-align: top;
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            display: inline-block;
                            background: url($url_sprite) no-repeat;          
                            background-size: 500px 700px;
                            background-position: -265px -170px;  
                            margin-left: 0px;
                            transform:scale(.8);
                            @media screen and (min-width: $screen-md){
                                @include transition(.2s);
                                &:hover{
                                    background-position: -265px -205px;  
                                }
                            }
                        }
                        &.insta{
                            vertical-align: top;
                            a{
                                font-size: 0;
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                            font-size: 0;
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            display: inline-block;
                            background: url($url_sprite) no-repeat;          
                            background-size: 500px 700px;
                            background-position: -405px -170px;  
                            margin-left: 10px;
                            transform:scale(.8);
                            @media screen and (min-width: $screen-md){
                                @include transition(.2s);
                                &:hover{
                                    background-position: -405px -205px;  
                                }
                            }
                        }
                        a{
                            font-family: $font1;
                            line-height: 30px;
                            color: $black;
                            text-decoration: none;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: .7rem;
                            @include transition(.1s);
                            @media screen and (min-width: $screen-md){
                                &:hover{
                                    color: $red;
                                }
                            }
                        }
                    }
                }
                .search{
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    background: url($url_sprite) no-repeat;          
                    background-size: 500px 700px;
                    background-position: -325px 0px;
                    margin-left: 0px;
                    &.active-on{
                        display: none;
                    }
                    @media screen and (min-width: $screen-md){
                        &:hover{
                            background-position: -355px 0px;
                        }
                    }
                }
                .search-close{
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    background: url($url_sprite) no-repeat;     
                    background-size: 500px 700px;
                    background-position: -460px -30px;
                    margin-left: 20px;
                    display: none;
                    &.active-on{
                        display: inline-block;
                    }
                    @media screen and (min-width: $screen-md){
                        &:hover{
                            background-position: -430px -30px;
                        }
                    }
                }
            }
        }
    }
    .top-banner{
        background: $dgrey;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 200;
        @media screen and (min-width: $screen-md){
            height: 160px;
            position: relative;
            background: $black;
            width: 100%;
            display: block;
            border-bottom: 3px solid red;
        }
        .site-inner{
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            position: relative;
            padding: 10px 0;
            a{
                &.site-logo{
                    margin-top: 5px;
                    &.sprite{
                        cursor: pointer;
                        display: block;
                        width: 106px;
                        height:40px;
                        background-position: 0 -100px;
                        margin:0px auto;
                        @media screen and (min-width: $screen-md){
                            transform:scale(1.1);
                            padding-top: 0px;
                            width: 265px;
                            height:100px;
                            background-position: 0 0;
                        }
                    }
                }
            }
            #burger-btn{
                width: 50px;
                height: 50px;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                @media screen and (min-width: $screen-md){
                    display: none;
                }
                span{
                    background: $white;
                    width: 24px;
                    height: 2px;
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    top: 25px;
                    transition: all .05s ease-in-out;
                    &:before, &:after{
                        content: "";
                        width: 24px;
                        height: 2px;
                        display: block;
                        background: $white;
                        transition: all .15s ease-in-out;
                    }
                    &:before{
                        top: 8px;
                        position: absolute;
                    }
                    &:after{
                        top: -8px;
                        position: absolute;
                    }
                }
                &.active-on{
                    z-index: 1500;
                    span{
                        background: transparent;
                        transform: rotate(0deg);
                        &:before{
                            transform: rotate(-315deg);
                             top:0;
                        }
                        &:after{
                            transform: rotate(-225deg);
                            top:0;
                        }
                    }
                }
            }
            .search{
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: inline-block;
                background: url($url_sprite) no-repeat;          
                background-size: 500px 700px;
                background-position: -370px -30px;
                margin-left: 20px;
                position: absolute;
                left: 0px;
                top: 10px;
                &.active-on{
                    display: none;
                }
                @media screen and (min-width: $screen-md){
                    display: none !important;
                }
            }
            .search-close{
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: inline-block;
                background: url($url_sprite) no-repeat;  
                background-size: 500px 700px;   
                background-position: -400px -30px;
                margin-left: 20px;
                position: absolute;
                top: 10px;
                left: 0;
                display: none;
                &.active-on{
                    display: inline-block;
                }
                @media screen and (min-width: $screen-md){
                    display: none !important;
                }
            }
            padding-bottom: 40px;
            .mag-menu{
            	width: 100%;
		        position: absolute;
		        bottom: 0px;
		        overflow: hidden;
		        display: none;
		        @media screen and (min-width: $screen-md){
		        	display: block;
		        }
		        .magazines-menu-2018{
		        	width: 100%;
		            text-align: center;
		            font-size: 0;
                    position: relative;
                    @media screen and (min-width: $screen-sm){
                    }
                    @media screen and (min-width: $screen-md){
                    }
		            li{
                        margin: 0 2px;
		            	border-right: 1px solid $mgrey;
		                display: inline-block;
                        width: 90.2px;
                        height: 42px;
		                background:$white;
                        cursor: pointer;
		                position: relative;
		                top: 5px;
		                box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1); 
		                @include transition(.1s);
		                background: $white url($url_sprite) no-repeat;          
					    background-size: 500px 700px;
					    transition: none;
					    border-bottom: none;
                        @media screen and (min-width: $screen-sm){
                            margin: 0px;
                            //width: 90px;
                        }
                        @media screen and (min-width: $screen-md){
                            //margin: 0 5px;
                            width: 100.2px;
                        }
                        @media screen and (min-width: $screen-lg){
                            margin: 0 10px;
                        }
					    &:nth-child(odd){
					    	box-shadow: 0px 10px 10px 15px rgba(0, 0, 0, 0.1); 
					    }
		                @media screen and (min-width: $screen-md){
		                	&:hover{
		                		top: 0;
                                transform:scale(1.3);
                                &.hl{
                                    background-position: -353px -100px !important;
                                }
                                &.gentleman{
                                    background-position: -87px -297px !important;
                                }
                                &.lobby{
                                    background-position: 5px -298px !important;
                                }
                                &.cgp{
                                    background-position: -260px -101px !important;
                                }
                                &.zoutepaper{
                                    background-position: -179px -297px !important;
                                }
                                &.pt{
                                    background-position: -365px -297px !important;
                                }
                                &.pg{
                                    background-position: -271px -297px !important;
                                }
			                }
			            }
		                &.gentleman{
		                	background-position: -87px -255px;
		                	@media screen and (min-width: $screen-md){
			                	&:hover{
			                		background-position: -87px -300px;
				                }
				            }
		                }
		                &.lobby{
		                	background-position: 5px -255px;
		                	@media screen and (min-width: $screen-md){
			                	&:hover{
			                		background-position: 5px -300px;
				                }
				            }
		                }
		                &.cgp{
		                	background-position: -260px -60px;
		                	@media screen and (min-width: $screen-md){
			                	&:hover{
			                		background-position: -260px -103px;
				                }
				            }
		                }
		                &.zoutepaper{
		                	background-position: -179px -255px;
                            @media screen and (min-width: $screen-md){
                                &:hover{
                                    background-position: -179px -300px;
                                }
                            }
		                }
		                &.pt{
		                	background-position: -365px -255px;
		                	@media screen and (min-width: $screen-md){
			                	&:hover{
			                		background-position: -365px -300px;
				                }
				            }
		                }
		                &.pg{
		                	background-position: -271px -255px;
                            @media screen and (min-width: $screen-md){
                                &:hover{
                                    background-position: -271px -300px;
                                }
                            }
		                }
		                &.hl{
		                	background-position: -353px -60px;
		                	@media screen and (min-width: $screen-md){
			                	&:hover{
			                		background-position: -353px -103px;
				                }
				            }
		                }
		                a{
							font-size: 0;
							width: 100%;
							height: 100%;
							display: block;
							//background:pink;
							cursor: pointer;
		                }
		            }
		        }
		    }
        }
    }
    .desktop-menu{
    	border-top: 1px solid $mgrey;
        background: $white;
        min-height: 20px;
        display: none;
        @media screen and (min-width: $screen-md){
            display: block;
        }
        .menu-main-menu-2018-container, .menu-main-menu-container{
            #menu-main-menu-2018, .main-menu-2018{
                text-align: center;
                li{
                    display: inline-block;
                    margin-right: 10px;
                    a{
                        font-family: $font1;
                        line-height: 30px;
                        color: $black;
                        text-decoration: none;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: .7rem;
                        cursor: pointer;
                        @include transition(.1s);
                        @media screen and (min-width: $screen-md){
                            &:hover{
                                color: $red;
                            }
                        }
                        @media screen and (min-width: $screen-lg){
                            font-size: .75rem;
                        }
                    }
                }
            }
        }
    }
}
.search-form{
    background: rgba($white, .9);
    position: fixed;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    left: 0;
    z-index: 2000;
    visibility: hidden;
    transition: visibility .4s;
    top: 0px;
    padding-top: 70px;
    @include transition(0s);
    &.active-on{
        visibility: visible;
    }
    @media screen and (max-width: $screen-sm){
        overflow-y:scroll;
    }
    @media screen and (min-width: $screen-md){
        padding-top: 201px;
        &.light-on{
            padding-top: 20px;
        }
    }
    .site-inner{
        position: relative;
        font-size: 0;
        max-width: 700px;
        .search-input-wrapper{
            position: relative;
            padding-top: 20px;
            padding-bottom: 20px;
            @media screen and (min-width: $screen-md){
                margin: 60px 0 10px;
                padding-top: 0px;
                padding-bottom: 0px;
            }
            label{
                font-size: 0;
                input{
                    border-radius: 0;
                    -webkit-appearance: none;
                    &.search-input{
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                        height: auto;
                        border: none;
                        font-family: $font1;
                        background: none;
                        padding: 5px 0 5px 5px; 
                        text-transform: uppercase;
                        color: $black;
                        font-weight: bold;
                        font-size: 1.2rem;
                        border-bottom: 3px solid $black;
                        position: relative;
                        border-radius: 0;
                        padding-right: 35px;
                        padding-left: 10px;
                        outline: none;
                        @media screen and (min-width: $screen-md){
                        }
                        &:focus {
                            border-bottom: 3px solid $black;
                        }
                    }
                }
            }
        }
        .search-submit{
            font-size: 1rem;
            transform:none;
            text-transform: uppercase;
            font-weight: bold;
            padding:5px 10px;
            cursor: pointer;
            left: initial;
            -webkit-appearance: none;
            display: block;
            margin: 20px auto;
            background: $white;
            border: 1px solid $black;
            @media screen and (min-width: $screen-md){
                //display: none;
            }
        }
    }
}
#floating-menu{
    width: 100%;
    height: 30px;
    background: $dgrey;
    position: fixed;
    top: -30px;
    right: 0;
    z-index: 2500;
    @media screen and (min-width: $screen-md){
    	@include transition(.2s);
    	&.active-on{
    		top: 0px;
    	}
    }
    .site-inner{
        position: relative;
        .top-left{
            height: 30px;
            top: 0;
            position: relative;
            display: block;
            .lang-switch{
                border: none;
                background: none;
                position: relative;
                top: 0;
                margin-left: 40px;
                &:before{
                    content:'';
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    background: url($url_sprite) no-repeat;          
                    background-size: 500px 700px;
                    background-position: -340px -30px;
                    transition: none;
                    position: absolute;
                    left: -40px;
                    top: -6px;
                }
                @media screen and (min-width: $screen-md){
                    &:hover{
                        &:before{
                            background-position: -295px 0px;
                        }
                    }
                }
                vertical-align: top;
                font-family: $font1;
                line-height: 30px;
                color: $white;
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
                font-size: .7rem;
                @include transition(.1s);
                @media screen and (min-width: $screen-md){
                    &:hover{
                        color: $red;
                    }
                }
            }
        }
        .site-logo{
        	&.sprite{
        		display: block;
        		position: absolute;
        		left: 50%;
        		top: 0;
        		transform:translateX(-50%);
        		width: 80px;
        		height: 30px;
        		background-position: 0 -140px;
        		@include transition(.1s);
        		@media screen and (min-width: $screen-md){
                    &:hover{
                        opacity: .6;
                    }
                }
        	}
        }
        .top-right{
            position: absolute;
            right: 0;
            top: 0;
            vertical-align: top;
            .search{
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: inline-block;
                background: url($url_sprite) no-repeat;          
                background-size: 500px 700px;
                background-position: -370px -30px;
                margin-left: 20px;
                &.active-on{
                    display: none;
                }
                @media screen and (min-width: $screen-md){
                    &:hover{
                        background-position: -355px 0px;
                    }
                }
            }
            .search-close{
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: inline-block;
                background: url($url_sprite) no-repeat;        
                background-size: 500px 700px;
                background-position: -400px -30px;
                margin-left: 20px;
                display: none;
                &.active-on{
                    display: inline-block;
                }
                @media screen and (min-width: $screen-md){
                    &:hover{
                        background-position: -430px -30px;
                    }
                }
            }
        }
    }
}
#mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    display: block;
    width: 100%;
    min-height: 100%;
    padding-top: 80px;
    text-align: center;
    z-index: 2000;
    transform: translateX(-100%);
    @include transition(.2s);
    &.active-on{
		transform: translateX(0);
    }
    @media screen and (min-width: $screen-md){
        display: none;
    }
    li{
        display: block;
        margin-bottom: 10px;
        a{
            font-family: $font1;
            color: $black;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            font-size: .9rem;
        }
    }
    .mag-intro{
    	text-transform: uppercase;
    	font-weight: bold;
    	color: $mgrey;
    	font-size: .9rem;
    	margin-bottom: 15px;
    }
    .menu-main-menu-2018-container{
        margin-bottom: 20px;
    }
    .magazines-menu-2018{
        margin-bottom: 20px;
        a{
        	color: $red;
        }
    }
    .menu-top-menu-2018-container{
        margin-bottom: 20px;
        //border-top: 2px solid $mgrey;
       	li{
       		margin: 0 10px;
       		margin-top: 10px;
       		 display: inline-block;
       		 a{
       		 	font-size: .8rem;
       		 }
             &.fb{
                a{
                    font-size: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                vertical-align: top;
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: inline-block;
                background: url($url_sprite) no-repeat;          
                background-size: 500px 700px;
                background-position: -265px -170px;  
                margin-left: 0px;
                transform:scale(.8);
                @media screen and (min-width: $screen-md){
                    @include transition(.2s);
                    &:hover{
                        background-position: -265px -205px;  
                    }
                }
            }
            &.insta{
                vertical-align: top;
                a{
                    font-size: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                font-size: 0;
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: inline-block;
                background: url($url_sprite) no-repeat;          
                background-size: 500px 700px;
                background-position: -405px -170px;  
                margin-left: 10px;
                transform:scale(.8);
                @media screen and (min-width: $screen-md){
                    @include transition(.2s);
                    &:hover{
                        background-position: -405px -205px;  
                    }
                }
            }
       	}
    }
}
#main{
	padding: 10px;
	margin-top: 20px;
	@media screen and (min-width: $screen-md){
        margin-top: 0;
        padding-top: 0;
    }
    .top-wrapper{
        display: block;
        width: 100%;
        margin-bottom: 20px;
        @media screen and (min-width: $screen-md){
            margin-bottom: 40px;
        }
        .post-category{
            display: inline-block;
            width: 50%;
            a{
                color: $red;
                font-size: .9rem;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                margin-right: 5px;
                &:nth-child(2){
                    &:before{
                        content:" |  ";
                        margin-right: 5px;
                        display: inline-block;
                    }
                }
            }
        }
        .date{
            color: $black;
            text-transform: uppercase;
            display: inline-block;
            width: 50%;
            font-weight: bold;
            font-size: .8rem;
            text-align: right;
        }
    }
    .site-inner{
    	font-size: 0;
        .nos-titres{
            background: blue;
            span{
                font-size: 1rem;
            }
            .nos-titres-magazines{
                display: inline-block;
                width: 11.11%;
                span{

                }
                img{

                }
            }
        }
    	.first-article{
    		margin-bottom: 20px;
    		@media screen and (min-width: $screen-md){
    			margin-bottom: 40px;
    		}
    		article{
    			display: block;
    			position: relative;
    			width: 100%;
    			font-size: 0;
    			vertical-align: top;
    			@media screen and (min-width: $screen-md){
    				vertical-align: middle;
    			}
    			.post-side-left{
    				width: 40%;
				    display: inline-block;
    				@media screen and (min-width: $screen-md){
				        width: 60%;
				        min-width: 60%;
				    }
				    a{
				    	width: 100%;
				    	img{
							width: 100%;
							height: auto;
							display: block;
							margin: 0 auto;
							@media screen and (min-width: $screen-md){
								width: 100%;
								height: auto;
							}
				    	}
				    }
    			}
    			.post-side-right{
    				width: 60%;
				    display: inline-block;
				    vertical-align: top;
    				@media screen and (min-width: $screen-md){
    					margin-top: 0px;
				        width:45%;
				        position: absolute;
				        right:0;
				        top: 50%;
				        transform:translateY(-50%);
				    }
				    .post-category{
						font-size: .75rem;
		    			line-height: 1.2rem;
		    			font-family: $font1;
		    			font-weight: 900;
		    			color: $red;
		    			text-decoration: none;
		    			text-transform: uppercase;
		    			text-align: right;
		    			padding-bottom: 10px;
		    			display: none;
		    			@media screen and (min-width: $screen-md){
		    				padding-bottom: 5px;
		    				font-size: .85rem;
		    				line-height: 1.3rem;
		    				display: block;
		    				@include transition(.2s);
		    				&:hover{
		    					color: $black;
		    				}
		    			}
				    }
				    .post-side-block{
				    	background:$white;
				    	padding: 5px 10px;
				    	@media screen and (min-width: $screen-sm){
		    				padding: 20px;
		    			}
				    	@media screen and (min-width: $screen-md){
					       padding: 40px 30px;
					       background:$lgrey;
					       width: 100%;
					    }
				    	h1,h2{
				    		a{
				    			font-size: .8rem;
				    			line-height: 1.2rem;
				    			font-family: $font1;
				    			font-weight: bold;
				    			color: $black;
				    			display: block;
				    			text-decoration: none;
				    			text-transform: uppercase;
				    			@media screen and (min-width: $screen-sm){
				    				font-size: 1.2rem;
				    				line-height: 1.5rem;
				    			}
				    			@media screen and (min-width: $screen-md){
                                    padding-bottom: 20px;
				    				@include transition(.2s);
				    				&:hover{
				    					color: $red;
				    				}
				    			}
							    @media screen and (min-width: $screen-lg){
							       font-size: 1.3rem;
				    			 line-height: 1.7rem;
							    }
				    		}
				    	}
				    	a{
				    		text-decoration: none;
				    		color: $black;
				    		p{
					    		font-style: italic;
					    		font-size: .8rem;
					    		line-height: 1.1rem;
					    		display: none;
					    		@media screen and (min-width: $screen-md){
				    				@include transition(.2s);
				    				&:hover{
				    					color: $red;
				    				}
				    			}
				    			@media screen and (min-width: $screen-lg){
							       font-size: .9rem;
					    			line-height: 1.5rem;
					    			display: block;
							    }
				    		}
				    	}
				    }
    			}
    		}
    	}
        .entry-header{
            text-align: center;
            h1{
                a{
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    font-family: $font1;
                    font-weight: bold;
                    color: $black;
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding-bottom: 20px;
                    span{
                        color: $red;
                    }
                    @media screen and (min-width: $screen-sm){
                        font-size: 2rem;
                        font-weight: bold;
                        line-height: 2.4rem;
                        padding-bottom: 20px;
                    }
                }
            }
            #social-share{
                display: block;
                text-align: right;
                margin-bottom: 10px;
                span{
                    font-size: .7rem;
                    padding-bottom: 10px;
                    vertical-align: middle;
                }
                a{
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    &.sprite-fb{
                        background-position: -265px -170px;  
                        @media screen and (min-width: $screen-md){
                            @include transition(.2s);
                            &:hover{
                                background-position: -265px -205px;  
                            }
                        }
                    }
                    &.sprite-twitter{
                        background-position: -335px -170px;  
                        @media screen and (min-width: $screen-md){
                            @include transition(.2s);
                            &:hover{
                                background-position: -335px -205px;  
                            }
                        }
                    }
                    &.sprite-mail{
                        background-position: -300px -170px;  
                        @media screen and (min-width: $screen-md){
                            @include transition(.2s);
                            &:hover{
                                background-position: -300px -205px;  
                            }
                        }
                    }
                    &.sprite-whatsapp{
                        background-position: -195px -170px;  
                        @media screen and (min-width: $screen-md){
                            @include transition(.2s);
                            &:hover{
                                background-position: -195px -205px;  
                            }
                        }
                    }
                    &.sprite-pint{
                        background-position: -230px -170px;  
                        @media screen and (min-width: $screen-md){
                            @include transition(.2s);
                            &:hover{
                                background-position: -230px -205px;  
                            }
                        }
                    }
                }
            }
            .post-thumbnail{
                display: block;
                width: 100%;
                height: auto;
                padding-bottom: 20px;
                text-decoration: none;
                font-size: .7rem;
                img{
                    display: block;
                    width: 100%;
                    height: auto;
                } 
            }
            .plaquette{
                text-transform: uppercase;
                font-weight: bold;
                background: $lgrey;
                display: inline-block;
                padding: 10px;
                font-size: .8rem;
                max-width: 300px;
                text-align: center;
                margin: 5px;
                text-decoration: none;
                &:last-child{
                    margin-bottom: 30px;
                }
            }
        }
    	.content{
    		&.entry-content{
    			display: inline-block;
    			vertical-align: top;
                margin-bottom: 20px;
    			width: 100%;
    			@media screen and (min-width: $screen-mdd){
    				width: calc(100% - 300px);
    				padding-right: 40px;
    			}
                @media print{
                    border-bottom: none;
                    margin-bottom: 30px;
                }
                h2, h3, h4, h5, h6{
                    text-transform: uppercase;
                    font-weight: bold;
                    display: block;
                }
                h2{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         font-size:1.4rem;
                    margin: 10px 0 20px;
                    position: relative;
                    font-size:1.4rem;
                    line-height: 1.7rem;
                    @media screen and (min-width: $screen-md) {
                        line-height: 1.7rem;
                    }
                }
                h3{
                    margin: 25px 0 20px;
                    position: relative;
                    font-size: 1.3rem;
                    @media screen and (min-width: $screen-md) {
                        font-size:1.5rem;
                    }
                }
                h4, h5, h6{
                    font-size:1.2rem;
                    font-weight: 600;
                    margin-bottom: 15px;
                    @media screen and (min-width: $screen-md) {
                        font-size:1.4rem;
                    }
                }
                sup, sub {
                    font-size: 75%;
                    height: 0;
                    line-height: 0;
                    position: relative;
                    vertical-align: baseline;
                }
                sup {
                    bottom: 1ex;
                }
                sub {
                    bottom: -1ex;
                }
                a{
                    color: $black;
                    &:hover{
                        @media screen and (min-width: $screen-md){
                            color: $red;
                        }
                    }
                }
                a[href]:after {
                    @media print{
                        content: " (" attr(href) ")"; /* affichage des URL des liens */
                    }
                }
                img{
                    max-width: 100%;
                    height: auto;
                }
                .wpcf7-form{
                    .wpcf7-form-control-wrap{
                        .wpcf7-list-item{
                            margin: 0;
                            margin-right: 10px;
                            display: block;
                            padding-bottom: 5px;
                        }
                    }
                    label{
                        text-transform: uppercase; 
                        font-weight: bold;
                        margin-bottom: 30px;
                        line-height: 1.4rem;
                    }
                    .wpcf7-submit{
                        border: none;
                        background: $black;
                        color: $white;
                        font-size: .9rem;
                        text-transform: uppercase;
                        padding: 5px 10px;
                    }
                }
                .wp-caption{
                    max-width: 100%;
                    position: relative;
                    text-align: center;
                    display: inline-block;
                    img{
                        display: block;
                    }
                    .wp-caption-text{
                        font-size: .7rem;
                        text-align: center;
                        margin: 0 auto;
                        font-family: $font1;
                        font-style: italic;
                        color: $black;
                        display: block;
                        @media screen and (min-width: $screen-md) {
                           font-size: .6rem; 
                           margin: 5px auto;
                        }
                    }
                }
                .alignleft{
                    float: left;
                    margin-right: 20px;
                    &:after {
                        content: "";
                        clear: both;
                    }
                }
                .aligncenter{
                    display: block;
                    margin: 20px auto;
                    img{
                        display: block;
                        margin: 0 auto;
                    }
                }
                .alignright{
                    float: right;
                    margin-left: 20px;
                }
                .segment-multipage{
                    position: relative;
                    padding: 30px 0 40px;
                    margin: 20px 0;
                    clear: both;
                    z-index: 0;
                    @media screen and (min-width: $screen-md) {
                        padding: 40px 0;
                    }
                    &:after{
                        content: '';
                        border-top: 1px solid $black;
                        display: block;
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        z-index: -1;
                    }
                    .icon-multipage{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform:translate(-50%, -50%) rotate(45DEG);
                        display: block;
                        height: 50px;
                        width: 50px;
                        background: $white;
                        border: 1px solid $black;
                        div{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            font-style: italic;
                            font-size: 1.5rem;
                            transform:translate(-50%, -50%) rotate(-45DEG);
                            &.long-number{
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
                p, div{
                    font-size: .9rem;
                    line-height: 1.2rem;
                    font-weight: 300;
                    font-family: $font1;
                    @media screen and (min-width: $screen-md) {
                        font-size: .9rem;
                        line-height: 1.4rem;
                    }
                    margin-bottom:20px;
                    @media screen and (min-width: $screen-md) {
                        margin-bottom: 30px;
                    }
                }
                strong, b{
                    font-weight: 700;
                }
                iframe{
                    max-width: 100%;
                    position: relative !important;
                    margin: 0 auto;
                    &.instagram-media, &.twitter-tweet{
                        @media screen and (min-width: $screen-md) {
                            width: 70%;
                            margin: 0 auto !important;
                        }
                    }
                }
                #twitter-widget-0, .twitter-tweet{
                    max-width: 100%;
                    position: relative !important;
                    margin: 0 auto;
                    @media screen and (min-width: $screen-md) {
                        width: 70%;
                        margin: 0 auto !important;
                    }
                 }       
                em{
                    font-style: italic;
                }
                ul{
                    font-size: 1rem;
                    line-height: 1.4rem;
                    margin: 0px 0 20px 10px;
                    list-style-type: disc;
                    display: inline-block;
                    @media screen and (min-width: $screen-md) {
                        margin: 0px 0 20px 20px;
                        font-size: 1.1rem;
                        line-height: 1.7rem;
                    }
                    li{
                        margin-left: 20px;
                        font-weight: 300;
                        font-size: 1rem;
                        line-height: 1.4rem;
                        @media screen and (min-width: $screen-md) {
                            font-size: .9rem;
                            line-height: 1.4rem;
                        }
                    }
                }
                blockquote{
                    p{
                        margin-left: 40px;
                        margin-bottom: 20px;
                        position: relative;
                        font-size: 1rem;
                        line-height: 1.4rem;
                        font-family: $font1;
                        font-weight: 300;
                        font-style: italic;
                        @media screen and (min-width: $screen-md) {
                            margin-bottom: 60px;
                        }
                        &:before{
                            content: "";
                            display: block;
                            width: 94px;
                            height: 72px;
                            margin: 30px 0px 0px;
                            position: relative;
                            left: calc(50% - 15px);
                            background: url($url_sprite) no-repeat; 
                            background-size: 500px 700px;
                            background-position: -280px -280px;   
                            transform: translateX(-50%) scale(.6);
                            
                        }
                        @media screen and (min-width: $screen-md) {
                            font-size: 1.5rem;
                            line-height: 2rem;
                            margin-left: 70px;
                            &:before{
                                margin: 30px 0px 30px;
                                left: calc(50% - 25px); 
                                transform: translateX(-50%) scale(1);
                                @media screen and (min-width: $screen-md) {
                                    margin: 50px 0px 20px;
                                }
                            }
                        }
                        strong{
                            font-weight: bold;
                        }
                    }
                }
                ol {
                    font-size: 1rem;
                    line-height: 1.4rem;
                    display: block;
                    list-style-type: decimal;
                    margin: 10px 38px;
                    li{
                        padding-left: 5px;
                        font-size: 1rem;
                        line-height: 1.4rem;
                        @media screen and (min-width: $screen-md){
                            margin: 5px 0;
                            font-size: 1.1rem;
                            line-height: 1.7rem;
                        }
                    }
                }
                .top-article{
                    //background: pink;
                    margin-top: 40px;
                    h2{
                        text-align: center;
                        a{
                            font-family: $font2;
                            text-decoration: none;
                        }
                    }
                    .post-thumbnail{
                        picture, img{
                            display: block;
                            margin: 0 auto;
                        }
                        .caption-div{
                            font-size: .7rem;
                            text-align: center;
                            margin: 10px auto;
                            font-family: $font1;
                            font-style: italic;
                            color: $black;
                            display: block;
                            @media screen and (min-width: $screen-md) {
                                font-size: .9rem;
                                &:hover{
                                   color: $black; 
                                }
                            }
                            @media print {
                                display: none;
                            }
                        }
                    }
                    p{
                        margin-top: 30px;
                        margin-bottom: 10px;
                    }
                    .link-top-article{
                        text-align: right;
                        display: block;
                        @include transition(.1s);
                        text-decoration: none;
                        @media screen and (min-width: $screen-md){
                            &:hover{
                                color: $red;
                            }
                        }
                        &:before{
                            content: "[";
                        }
                        &:after{
                            content: "]";
                        }
                    }
                }
                .swiper-article-block{
                    position: relative;
                    padding-top: 46px;
                    &.event{
                        padding-left: 50px;
                        padding-right: 50px;
                        .swiper-button-next-article{
                            background: url($url_sprite) no-repeat !important;  
                            background-size: 500px 700px !important; 
                            background-position: -160px -190px !important; 
                            width: 15px !important; 
                            height: 30px !important; 
                        }
                        .swiper-button-prev-article{
                            background: url($url_sprite) no-repeat !important;  
                            background-size: 500px 700px !important; 
                            background-position: -180px -190px !important; 
                            width: 15px !important; 
                            height: 30px !important; 
                        }
                    }
                    .swiper-article{
                        margin-bottom: 0 !important;
                        .swiper-container-article{
                            margin-bottom: 0 !important;
                            .swiper-wrapper{
                                margin-bottom: 0 !important;
                                .swiper-slide{
                                    margin-bottom: 0 !important;
                                }
                                .swiper-image{
                                    margin-bottom: 0 !important;
                                    a{
                                        font-weight: bold;
                                        text-decoration: none;
                                        @media screen and (min-width: $screen-md){
                                            @include transition(.2s);
                                            &:hover{
                                                color: $black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .swiper-pagination{
                        margin: 5px 0;
                        width: 100%;
                        height: auto;
                        position: absolute;
                        bottom:10px;
                        max-width: 640px;
                        .swiper-pagination-bullet{
                            margin: 0px 1px;
                            background: url($url_sprite) no-repeat;          
                            background-size: 500px 700px;
                            transition: none;
                            background-position: -385px 0;
                            width: 10px;
                            height: 10px;
                            &.swiper-pagination-bullet-active{
                                background-position: -395px 0;
                            }
                        }
                    }
                }
    			.second-article{
	    			display: block;
	    			position: relative;
	    			width: 100%;
	    			font-size: 0;
	    			vertical-align: top;
	    			margin-bottom: 20px;
	    			@media screen and (min-width: $screen-md){
	    				vertical-align: middle;
	    				margin-bottom: 40px;
	    			}
	    			.post-side-left{
	    				width: 40%;
					    display: inline-block;
                        padding-bottom: 0 !important;
                        margin-bottom: 0;
	    				@media screen and (min-width: $screen-md){
					        width: 60%;
					        min-width: 60%;
					    }
					    a{
					    	width: 100%;
                            margin-bottom: 0;
					    	img{
								width: 100%;
								height: auto;
								display: block;
								margin: 0 auto;
								@media screen and (min-width: $screen-md){
									width: 100%;
									height: auto;
								}
					    	}
					    }
	    			}
	    			.post-side-right{
	    				width: 60%;
					    display: inline-block;
					    vertical-align: top;
                        margin-bottom: 0;
	    				@media screen and (min-width: $screen-md){
	    					margin-top: 0px;
					        width:45%;
					        position: absolute;
					        right:0;
					        top: 50%;
					        transform:translateY(-50%);
					    }
					    .post-category{
							font-size: .75rem;
			    			line-height: 1.2rem;
			    			font-family: $font1;
			    			font-weight: 900;
			    			color: $red;
			    			text-decoration: none;
			    			text-transform: uppercase;
			    			text-align: right;
			    			padding-bottom: 10px;
			    			display: none;
			    			@media screen and (min-width: $screen-md){
			    				padding-bottom: 5px;
			    				font-size: .75rem;
			    				line-height: 1rem;
			    				display: block;
			    				@include transition(.2s);
			    				&:hover{
			    					color: $black;
			    				}
			    			}
					    }
					    .post-side-block{
					    	background:$white;
					    	padding: 5px 10px;
                            margin-bottom: 0;
					    	@media screen and (min-width: $screen-sm){
			    				//padding: 20px;
			    			}
					    	@media screen and (min-width: $screen-md){
						       padding: 40px 30px;
						       background:$lgrey;
						       width: 100%;
						    }
					    	h1,h2{
                                margin-bottom: 0;
					    		a{
					    			font-size: .8rem;
					    			line-height: 1.2rem;
					    			font-family: $font1;
					    			font-weight: bold;
					    			color: $black;
					    			display: block;
					    			text-decoration: none;
					    			text-transform: uppercase;
					    			@media screen and (min-width: $screen-sm){
					    				font-size: 1.2rem;
					    				line-height: 1.5rem;
                                        padding-bottom: 20px;
					    			}
					    			@media screen and (min-width: $screen-md){
					    				@include transition(.2s);
					    				&:hover{
					    					color: $red;
					    				}
					    			}
								    @media screen and (min-width: $screen-lg){
								       font-size: 1.1rem;
					    				line-height: 1.4rem;
								    }
					    		}
					    	}
					    }
	    			}
	    			&.left{
	    				.post-side-left{
		    				@media screen and (min-width: $screen-md){
		    					margin-left: 40%;
		    					position: relative;
		    					right: 0;
						    }
						}
	    				.post-side-right{
		    				@media screen and (min-width: $screen-md){
		    					margin-top: 0px;
						        width:45%;
						        position: absolute;
						        right: initial;
						        left: 0;
						        top: 50%;
						        transform:translateY(-50%);
						    }
						    .post-category{
				    			@media screen and (min-width: $screen-md){
				    				text-align: left;
				    			}
						    }
						}
	    			}
	    		}
    		}
    	}
        #breadcrumbs{
            margin: 0;
            padding: 0 10px 5px;
            list-style:none;
            background: $lgrey;
            overflow:hidden;
            li{
                margin: 0;
                display:inline-block;
                vertical-align:middle;
                margin-right:5px;
                a, .bread-current{
                    font-size: .7rem;
                    font-weight: bold;
                }
                a{
                    text-decoration: none;
                    @media screen and (min-width: $screen-md){
                        &:hover{
                            color: $red;
                        }
                    }
                }
            }
            .separator{
                font-size:18px;
                font-weight:100;
                color:$black;
            }
        }
    }
    &.main-boutiques{
        h1{
            font-size: 1.2rem;
            line-height: 1.4rem;
            font-family: $font1;
            font-weight: bold;
            color: $black;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            padding-bottom: 20px;
            padding-top: 20px;
            @media screen and (min-width: $screen-sm){
                font-size: 2rem;
                font-weight: bold;
                line-height: 2.4rem;
                padding-bottom: 20px;
            }
        }
        form{
            margin: 20px 0;
            select{
                font-family: $font1;
                font-size: 1rem;
                border: 2px solid $black;
                vertical-align: top;
            }
            input{
                font-family: $font1;
                vertical-align: top;
                text-transform: uppercase;
                font-size: .8rem;
                padding: 5px 10px;
                background: $black;
                color: $white;
                border: 0;
                margin-left: 10px;
                cursor: pointer;
                @include transition(.1s);
                cursor: pointer !important;
                @media screen and (min-width: $screen-md){
                    &:hover{
                        background: $red;
                    }
                }
            }
        }
        .shop-item{
            &:nth-of-type(1){
                padding-top: 20px;
            }
            margin: 20px 0;
            h3{
                margin: 0 0 5px 0 !important;
                padding: 0;
            }
            p{
                margin: 0 0 5px 0 !important;
                padding: 0 !important;
            }
            .shop-url{
                cursor: pointer !important;
                color: $red !important;
                @include transition(.1s);
                @media screen and (min-width: $screen-sm){
                    &:hover{
                        color: $black!important;
                    }
                }
            }
        }
    }
    &.main-404{
        width: 100%;
        text-align: center;
        h1{
            font-size: 1.2rem;
            line-height: 1.4rem;
            font-family: $font1;
            font-weight: bold;
            color: $black;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            padding-bottom: 20px;
            padding-top: 20px;
            @media screen and (min-width: $screen-sm){
                font-size: 2rem;
                font-weight: bold;
                line-height: 2.4rem;
                padding-bottom: 20px;
            }
        }
        p{
            margin-bottom: 10px !important;
        }
    }
    &.main-search{
        h1{
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.4rem;
            font-family: $font1;
            font-weight: bold;
            color: $black;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            padding-bottom: 20px;
            padding-top: 20px;
            @media screen and (min-width: $screen-sm){
                font-size: 2rem;
                font-weight: bold;
                line-height: 2.4rem;
                padding-bottom: 20px;
            }
        }
    }
    &.main-category{
        h1{
            font-size: 1.2rem;
            line-height: 1.4rem;
            font-family: $font1;
            font-weight: bold;
            color: $black;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            padding-bottom: 20px;
            padding-top: 20px;
            @media screen and (min-width: $screen-sm){
                font-size: 2rem;
                font-weight: bold;
                line-height: 2.4rem;
                padding-bottom: 20px;
            }
        }
        .desc{
            font-size: 1rem;
        }
    }
    &.main-magazines{
        .site-inner{
            .entry-content{
                article{
                    .entry-header{
                        h1{
                            text-align: center;
                            a{
                                @media screen and (min-width: $screen-md){
                                    font-size: 1.6rem;
                                }
                            }
                        }
                        .post-thumbnail{
                            display: block;
                            width: 100%;
                            height: auto;
                            padding-bottom: 20px;
                            img{
                                display: block;
                                width: auto;
                                margin: 0 auto;
                           } 
                        } 
                    }
                    .actu{
                        text-align: center !important;
                    }
                    .entry-content{
                        text-align: center;
                        .issuuembed{
                            display: block;
                            margin: 0 auto;
                            max-width: 100%;
                        }
                        .contact-wrapper{
                            font-size: 0;
                        }
                        .contact-card{
                            text-align: center;
                            width: 100%;
                            @media screen and (min-width: $screen-sm){
                                width: 50%;
                                display: inline-block;
                            }
                            @media screen and (min-width: $screen-md){
                                width: 33%;
                            }
                            .contact-email{
                                margin: 0 auto;
                                display: block;
                                width: 35px;
                                height: 35px;
                                background: url($url_sprite) no-repeat;  
                                background-size: 500px 700px;
                                background-position: -300px -170px;
                                @media screen and (min-width: $screen-md){
                                    &:hover{
                                        background-position: -300px -205px;
                                    }
                                }
                            }
                            .contact-fonction{
                                font-weight: bold;
                                margin-bottom: 5px;
                            }
                            .contact-gsm{
                                text-decoration: none;
                                @include transition(.1s);
                                @media screen and (min-width: $screen-md){
                                    &:hover{
                                        color: $red;
                                    }
                                }
                            }
                            .contact-name{
                                font-weight: bold;
                                text-decoration: none;
                                @include transition(.1s);
                                @media screen and (min-width: $screen-md){
                                    &:hover{
                                        color: $red;
                                    }
                                }
                            }
                        }
                        .swiper-article-block{
                            position: relative;
                            .swiper-article{
                                margin-bottom: 0 !important;
                                .swiper-container-video{
                                    margin-bottom: 0 !important;
                                    .swiper-wrapper{
                                        margin-bottom: 0 !important;
                                        .swiper-slide{
                                            margin-bottom: 0 !important;
                                        }
                                        .swiper-image{
                                            margin-bottom: 0 !important;
                                            a{
                                                &:first-child{
                                                    font-size: 0;
                                                }
                                                margin-top: 5px;
                                                display: block;
                                                font-weight: bold;
                                                text-decoration: none;
                                                font-size: .8rem;
                                                line-height: 1.1rem;
                                                @media screen and (min-width: $screen-md){
                                                    @include transition(.2s);
                                                    margin-top: 10px;
                                                    font-size: 1rem;
                                                    line-height: 1.2rem;
                                                    &:hover{
                                                        color: $black;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .swiper-pagination{
                                margin: 15px 0;
                                width: 100%;
                                height: auto;
                                position: relative;
                                bottom:10px;
                                max-width: 640px;
                                .swiper-pagination-bullet{
                                    margin: 0px 1px;
                                    background: url($url_sprite) no-repeat;          
                                    background-size: 500px 700px;
                                    transition: none;
                                    background-position: -385px 0;
                                    width: 10px;
                                    height: 10px;
                                    &.swiper-pagination-bullet-active{
                                        background-position: -395px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#sidebar{
	width: 300px;
	vertical-align: top;
	display:none;
	@media screen and (min-width: $screen-mdd){
		display: inline-block;
	}
	h3{
		font-size: 1.4rem;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 20px;
        color:$red;
	}
    .title-contest{
        &:after{
            content: "";
            display: inline-block;
            height: 35px;
            width: 35px;
            position: relative;
            margin-left: 5px;
            bottom: -5px;
            background: url($url_sprite) no-repeat;  
            background-size: 500px 700px;
            background-position: -370px -205px;
            transform:scale(1.3);
        }
    }
	.contest{
		background: $white;
		padding: 20px;
		margin: 20px 0 40px;
        border: 1.5px solid $mgrey;
        .post-thumbnail{
            display: block;
            margin-bottom: 20px;
            position: relative;
            img{
                display: block;
                width: 100%;
                height: auto;
            }
        }
		a, p{
			font-size: .8rem;
			line-height: 1.2rem;
			text-transform: uppercase;
			font-weight: bold;
            color: $red;
			text-decoration: none;
			@include transition(.1s);
            display: block;
            text-align: center;
            @media screen and (min-width: $screen-md){
                &:hover{
                    color: $red;
                }
            }
		}
		p{
			text-align: center;
            color: $black;
		}
	}
    .most-popular{
        margin-top: 20px;
       .most-popular-titles{
            //background: $lgrey;
            padding:30px 20px;
            background: $white;
            border: 1.5px solid $mgrey;
            li{
                margin-bottom: 15px;
                position: relative;
                padding-left: 50px;
                &:before{
                    font-size: 3rem;
                    font-family: $font2;
                    color: $red;
                    position: absolute;
                    top: -15px;
                    left: -10px;
                    vertical-align: top;
                    display: block;
                    min-width: 50px;
                    text-align: center;
                }
                &:nth-of-type(1){
                    &:before{
                        content:"1";
                    }
                }
                &:nth-of-type(2){
                    &:before{
                        content:"2";
                    }
                }
                &:nth-of-type(3){
                    &:before{
                        content:"3";
                    }
                }
                &:nth-of-type(4){
                    &:before{
                        content:"4";
                    }
                }
                &:nth-of-type(5){
                    &:before{
                        content:"5";
                    }
                }
                h4{
                    min-height: 50px;
                    a{
                        font-size: .9rem;
                        line-height: 1.2rem;
                        text-decoration: none;
                        color: $black;
                        text-transform: uppercase;
                        font-weight: bold;
                        @include transition(.1s);
                        @media screen and (min-width: $screen-md){
                            &:hover{
                                color: $red;
                            }
                        }
                    }
                }
            }
        } 
    }
}
.navigation{
    position: relative;
    font-size: 0;
    a{
        font-size: .8rem;
        color: $black;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        margin-right: 20px;
        @include transition(.1s);
        @media screen and (min-width: $screen-sm){
            &:hover{
                color: $red;
            }
        }
        &:nth-of-type(2){
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
.bottom-related{
    background: $lgrey;
    width: 100%;
    margin-bottom: 20px;
    h3{
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-family: $font1;
        font-weight: bold;
        padding: 15px 0;
    }
    div{
        font-size: 0;
        article{
            vertical-align: top;
            width: calc(100% - 20px);
            margin: 10px;
            display: block;
            margin-bottom: 40px;
            @media screen and (min-width: $screen-md){
                width: calc(25% - 20px);
                display: inline-block;
                margin-bottom: 0;
            }
            a{
                display: block;
                margin-bottom: 5px;
                @media screen and (min-width: $screen-md){
                    margin-bottom: 20px;
                }
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
            h4{
                vertical-align: top;
                a{
                    font-size: .8rem;
                    line-height: 1.2rem;
                    font-family: $font1;
                    font-weight: bold;
                    color: $black;
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    @include transition(.1s);
                    @media screen and (min-width: $screen-sm){
                        font-size: .8rem;
                        line-height: 1rem;
                        &:hover{
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}
// gallery
.gallery_wrapper{
    background: $lgrey;
    margin-bottom: 30px;
    .buttons_wrapper{
        text-align: right;
        .gallery_index{
            display: none;
        }
        .button_mosaique{
            background: url($url_sprite) no-repeat;  
            background-size: 500px 700px;
            background-position: -120px -170px;
            width: 40px;
            height: 40px;
            display: inline-block;
            border:none;
            font-size: 0;
        }
        .button_open_fancy{
            background: url($url_sprite) no-repeat;  
            background-size: 500px 700px;
            background-position: -120px -210px;
            width: 40px;
            height: 40px;
            display: inline-block;
            border:none;
            font-size: 0;
        }
    }
    .gallery_ajax{
        padding: 20px;
    }
}
.btn-close{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    padding: none;
    cursor: pointer;
    margin: 5px;
    width: 30px;
    height: 30px;
    @media screen and (min-width: $screen-md){
        transform:scale(.8);
        top: 6px;
        cursor: pointer;
        &:hover{
            &:before, &:after{
                background:$red;
            }
        }
    }
    &:before{
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 50%;
        position: absolute;
        background: $black;
        @include transition(.1s);
        transform: translate(-50%, -50%) rotate(45DEG);
    }
    &:after{
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 50%;
        position: absolute;
        background: $black;
        @include transition(.1s);
        transform: translate(-50%, -50%) rotate(-45DEG);
    }
}
#cookie-box{
    position: fixed;
    bottom: 0px;
    height: calc(100% - 50px);
    left: 0;
    width: 100%;
    background: rgba($lgrey, .9);
    padding: 70px 10px 20px;
    display: none;
    z-index: 3000;
    @media screen and (min-width: $screen-md){
        bottom: 0;
        height: auto;
        padding: 15px;
        border-top: 1px solid $lgrey;
    }
    &.active-on{
        display: block;
    }
    .site-inner{
        text-align: center;
        line-height: 2rem;
        font-size: 1.4rem;
        @media screen and (min-width: $screen-md){
            line-height: 1.4rem;
            font-size: .9rem;
            margin: 0 50px;
        }
        @media screen and (min-width: $screen-mdd){
            margin: 0 auto;
        }
        a{
            line-height: 2rem;
            font-size: 1.4rem;
            color: $black;
            @include transition(.1s);
            @media screen and (min-width: $screen-md){
                line-height: 1.5rem;
                font-size: .9rem;
                &:hover{
                    color: $red;
                }
            }
        }
    }
}
#footer{
	background:$dgrey;
	padding: 10px 0 20px;
	@media screen and (min-width: $screen-md){
		padding: 20px 0;
	}
	.menu-magazines-menu-2018-container{
		display: none;
		@media screen and (min-width: $screen-md){
			display: block;
		}
	}
	ul{
		text-align: center;
		li{
			display: inline-block;
			a{
				color: $white;
				text-transform: uppercase;
				margin: 10px;
				text-decoration: none;
				font-size: .7rem;
				@include transition(.1s);
	    		@media screen and (min-width: $screen-md){
	                &:hover{
	                    color: $red;
	                }
	            }
			}
            &.fb, &.insta{
                display: none !important;
            }
		}
	}
	.site-logo{
    	&.sprite{
    		display: block;
    		margin: 15px auto;
    		width: 106px;
            height:40px;
            background-position: 0 -100px;
    		@include transition(.1s);
    		@media screen and (min-width: $screen-md){
                &:hover{
                    opacity: .6;
                }
            }
    	}
    }
}
small{
	background:$white;
	text-align: center;
	p{
		margin: 5px 0;
		color: $black;
		font-size: .6rem;
		font-weight: bold;
	}
	a{
		color: $black;
		text-decoration:none;
		text-transform: uppercase;
		@include transition(.1s);
		@media screen and (min-width: $screen-md){
            &:hover{
                color: $red;
            }
        }
	}
}
//swiper
.swiper-container-article ,.swiper-container-video ,.swiper-container,.swiper-gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: red;*/
    // width: 100% !important;
    /* Center slide text vertically */
    -webkit-boxd-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination {
    //position: relative !important;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px !important;
    left: 0;
    width: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px !important;
    border-radis: none !important;
}
.swiper-pagination-bullet {
    border-radius: 0px !important;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.grid {
    font-size: 0;
    /* clear fix */
    &:after{
        content: '';
        display: block;
        clear: both;
    }
}
.swiper-gallery{position: relative;}
.template-1col .grid-item { float: left; width: calc( 100% - 10px); margin:3px 4px;display: inline-block;}
.template-2col .grid-item { float: left; width: calc( 50% - 10px); margin:3px 4px;display: inline-block;}
.template-3col .grid-item { float: left; width: calc( 33.33333% - 10px); margin:3px 4px;display: inline-block;}
.template-4col .grid-item { /*width: calc( 25% - 10px);*/ margin:3px 4px;display: inline-block;}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item{
    width: calc(33.333% - 5px);
}
.grid-item {
    float: left;
    margin-bottom: 5px !important;
    img{
        display: block;
        cursor: pointer;
        max-width: 100%;
    }
}
.hidden{
    display: none !important;
}
.site-content-title{
    font-size: 1.2rem !important;
}

@import "import/elle_gallery_2017.scss";